
:root {
  --tec-orange: #E38B2D;
  --tec-orange-dark: #CC7A20;
}



.btn-light,
.btn-light:hover,
.btn-light:focus {
  color: #333;
  text-shadow: none;
}


.btn-light {
  background-color: var(--tec-orange);
  border-color: var(--tec-orange);
}

.btn-light:hover,
.btn-light:focus {
  background-color: var(--tec-orange-dark);
  border-color: var(--tec-orange-dark);
  color: #fff;
}

body {
  text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
}



.nav-masthead .nav-link {
  color: rgba(255, 255, 255, .6);
  border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  color: var(--tec-orange);
  border-bottom-color: var(--tec-orange);
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: var(--tec-orange);
  border-bottom-color: var(--tec-orange);
}

a {
  color: var(--tec-orange);
}

a:hover {
  color: var(--tec-orange-dark);
}

main > .row {
  margin-bottom: 2rem;
}

main p {
  line-height: 1.6;
}

main .border {
  background-color: rgba(255, 255, 255, 0.03);
}

.cover-container {
  max-width: 65em;
}

main.my-auto {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

main h5,
main h6 {
  color: #fff;
}

main img {
  max-height: 160px;
  object-fit: cover;
}
html,
body {
  height: auto;
  min-height: 100%;
}

body > .d-flex {
  min-height: 100vh;
  align-items: flex-start;
}

main.my-auto {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}
